<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>This is home</title>
  </head>

  <body>
    <h1>Description of Test Api</h1>
    <p>This is the docu page of the deta test api called "Excuse Generator".</p>
    <h2>Endpoints of Test Api</h2>
    <ul>
      <li><a href="https://eelv58.deta.dev/api/v1/excuses/all">All Excuses listed</a></li>      
      <li><a href="https://eelv58.deta.dev/api/v1/excuses/putall">All Excuses inserted</a></li>
      <li><a href="https://eelv58.deta.dev/api/v1/excuses/random">One random Excuse</a></li>
      <li><a href="https://eelv58.deta.dev/api/v1/excuses/custom?name=Falko">Custome excuse to Falko</a></li>
      <li><a href="https://eelv58.deta.dev/api/v1/excuses/custom">Error Page for custom</a></li>
    </ul>
  </body>
</html>